body {
  background: url("./media/background.jpg");
  background-size: 100% 100%; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }